# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go build output
/bin/
/obj/
*.out

# Go modules
/vendor/

# IDEs and editors
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
